@tailwind base;
@tailwind components;
@tailwind utilities;



.login-button {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    font-size: 0.875rem; /* text-sm */
    font-weight: 500; /* font-medium */
    border-radius: 0.375rem; /* rounded-md */
    color: white;
    background-color: #4f46e5; /* bg-indigo-600 */
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.login-button:hover {
    background-color: #4338ca; /* hover:bg-indigo-700 */
}

.login-button:focus {
    box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.5), 0 0 0 4px rgba(255, 255, 255, 0.5); /* focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 */
}

@media print {
    body * {
        visibility: hidden;
    }
    .invoice-container, .invoice-container * {
        visibility: visible;
    }
    .invoice-container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
    .print-button {
        display: none;
    }
}
.dashboard{
    color: rgb(5, 199, 109);
}
.close{
    background-color: #e23249;
    color: white;
}
.close:hover{
    background-color: #4285eb;
    color: white;
}
