@tailwind base;
@tailwind components;
@tailwind utilities;




@media print {
    body * {
        visibility: hidden;
    }
    .invoice-container, .invoice-container * {
        visibility: visible;
    }
    .invoice-container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
    .print-button {
        display: none;
    }
}
.close{
    background-color: #e23249;
    color: white;
}
.close:hover{
    background-color: #4285eb;
    color: white;
}
